Study/PatternTest/PatternTest.opensdf
Study/PatternTest/PatternTest.sdf
Study/PatternTest/PatternTest/Debug/
Study/PatternTest/Debug/
Study/M1Engine/.vs/M1Engine/v14/.suo
Study/PatternTest/.vs/PatternTest/v14/.suo
